<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Surat"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity
            android:name=".SearchFarmwdaActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".NowIsPrayerTimeActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityHajUmrah"
            android:exported="false" />
        <activity
            android:name=".ActivityQuranPdf"
            android:exported="false" />
        <activity
            android:name=".ActivityTafsyriTawhydi"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".FarmwdaT"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FarmwdaView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".dhikrView2"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".YoutubeChuser"
            android:exported="false" />
        <activity
            android:name=".Babatyrozh"
            android:exported="false" />
        <activity
            android:name=".Youtube"
            android:exported="false" />
        <activity
            android:name=".CitiesSetting"
            android:exported="false" />
        <activity
            android:name=".ActivityPrayersTime"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ActivityBangdan" />
        <activity android:name=".AyatKursyActivity" />
        <activity
            android:name="com.hassanjamil.hqibla.CompassActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,RedundantLabel" />
        <activity android:name=".Zikr_view_Activity" />
        <activity android:name=".Zikr_Activity" />
        <activity android:name=".Dasnwezh" />
        <activity android:name=".SallahN" />
        <activity android:name=".Tayamum" />
        <activity android:name=".IslamB" />
        <activity android:name=".Halla" />
        <activity android:name=".Wc" />
        <activity android:name=".Salah" />
        <activity android:name=".Zakat" />
        <activity android:name=".Tasbih" />
        <activity android:name=".MainActivity" />
        <activity android:name=".About" />
        <activity android:name=".PayaKan" />
        <activity android:name=".Kteb" />
        <activity android:name=".NameP" />
        <activity android:name=".Zhyan_View" />
        <activity android:name=".Zhian_Nama" />
        <activity android:name=".Nawakany_xuda" />
        <activity android:name=".SuratView" />
        <activity android:name=".Quran" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PrayerService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true" /> <!-- Bo kati restart -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".PushNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>